:root{
    --cian-color: #2efde2;
    --blue-color: #4461F2;
    --black-color: #0c0c0c;
    --blueLight-color: #cfe2f78e;
}
html, body {
    font-family: var(--font-poppins);
    // background: linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
    color: #cdd1e0;
    height: 100vh;
}