.register{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
    &_server_error{
        background-color: #a86767;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 5px;
    }
    &_title{
        padding-bottom: 2%;
            font-size: 40px;
            font-weight: 600;
            color: var(--blue-color);
    }
    &_label{
        display: flex;
            flex-direction: column;
            padding-top: 10px;
            font-size: 18px;
            font-weight: 400;
            color: var(--black-color);
            width: 40%;
            padding-right: 5%;
            padding-left: 5%;
            z-index: 1;
    }
    &_input{
        width: 100%;
            height: 25px;
            font-size: 16px;
            font-weight: 200;
            border-radius: 5px;
            border: none;
            padding-left: 6px;
            color: var(--black-color);
            background-color: var(--blueLight-color);
            z-index: 1;
            &:focus {
                outline: none;
            }
        
            &::placeholder {
                color: #00000b;
                font-size: 12px;
            }
    }
    &_select{
        width: 100%;
            height: 25px;
            border-radius: 5px;
            color: var(--black-color);
        
            &:optional {
                background-color: var(--blueLight-color);
                font-size: 16px;
                font-weight: 200;
        
            }
    }
    &_btn_add{
        background-color: var(--blue-color);
            padding: 1% 9%;
            border-radius: 5px;
            font-size: 16px;
            color: #fafafa;
            transition: all 0.8s ease;
            text-transform: uppercase;
        
            &:hover {
                transform: translatex(5px);
                background-color: var(--black-color);
                color: #fafafa;
                cursor: pointer;
            }
    }
    &_btn_close{
background-color: var(--black-color);
    padding: 1% 6%;
    border-radius: 5px;
    font-size: 16px;
    color: #fafafa;
    transition: all 0.8s ease;
    text-transform: uppercase;

    &:hover {
        transform: translatex(5px);
        background-color: rgb(179, 4, 4);
        color: #fafafa;
        cursor: pointer;
    }
    }
                &_img {
                    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.233));
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    z-index: 0;
                    width: 30%;
                }
}
.register_btn_container{
    width: 30%;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    justify-content: center;
    padding-top: 10px;
    z-index: 1;
}

@media (max-width: 867px){
    .register {
    
            &_title {
                width: 100%;
                justify-content: flex-start;
            }
    
            &_label {
                width: 100%;
            }
        }
    
        .register_btn_container {
            width: 100%;
        }
}